openapi: 3.2.0
info:
  title: MMS API v1 Gym API
  description: This API enables gym management software to connect to the EGYM system and transmit important pieces of information from the data sphere of the gym to the EGYM system.
  version: 1.0.0
  contact:
    name: EGYM - Connect Team
servers:
- url: https://mms.api.ed.ts.egym.coffee/v1
  description: Test
- url: https://mms.api.egym.com/v1
  description: Prod
security:
- accesstoken: []
tags:
- name: gym
paths:
  /gym/product:
    get:
      summary: Products
      description: Returns a list of products that are available in the gym and can be activated for a user.
      tags:
      - gym
      parameters:
      - in: query
        name: gymId
        description: The id of the EGYM gym
        schema:
          type: number
          example: 234
        required: true
      responses:
        '200':
          description: An array of EGYM products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductTemplateDto'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: getGymProduct
      x-operation-id-source: derived
  /gym/product/{productId}:
    get:
      summary: Product details
      description: Returns the details of a specific product
      tags:
      - gym
      parameters:
      - in: path
        name: productId
        description: The id of the product
        schema:
          type: integer
          format: int64
          example: 123
        required: true
      - in: query
        name: gymId
        description: The id of the EGYM gym
        schema:
          type: number
          example: 234
        required: true
      responses:
        '200':
          description: A JSON product object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTemplateDto'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: getGymProductByProductId
      x-operation-id-source: derived
components:
  schemas:
    ProductTemplateDto:
      type: object
      description: This model provides information about an EGYM product.
      properties:
        productId:
          type: integer
          format: int32
          description: The id of a product.
          example: '1337'
          readOnly: true
        productTitle:
          type: string
          description: The title of a product.
          example: PREMIUM SELECT
          readOnly: true
        productDescription:
          type: string
          description: The description of a product. The description contains more information about a product including where it can be used.
          example: Enables Premium training features for the users on all EGYM machines.
          readOnly: true
    ErrorDto:
      type: object
      description: This model provides information about an API error.
      properties:
        error:
          type: integer
          format: int32
          description: The error code.
          example: 401
        errorText:
          type: string
          description: The error message.
          example: The provided user name or password is incorrect.
  securitySchemes:
    accesstoken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: The token that will allow access the EGYM gym api for a specific gym.
      x-example: 77266b05a7ba4ba2aa3360b86711002d
