openapi: 3.2.0
info:
  title: MMS API v1 Alive API
  description: This API enables gym management software to connect to the EGYM system and transmit important pieces of information from the data sphere of the gym to the EGYM system.
  version: 1.0.0
  contact:
    name: EGYM - Connect Team
servers:
- url: https://mms.api.ed.ts.egym.coffee/v1
  description: Test
- url: https://mms.api.egym.com/v1
  description: Prod
security:
- accesstoken: []
tags:
- name: Alive
paths:
  /alive:
    post:
      summary: Alive
      description: 'Notification that the API client is active.

        This method notifies EGYM that the API client is running. Any received POST method resets a timestamp when data was last received. This method allows to send regular pings and therefore refreshes the timestamp.

        Gym Owners are shown a connectivity status on the EGYM website that is changed to inactive if no request is received by any method for 24h - therefore best practice would be to send this request at least once per day.'
      tags:
      - Alive
      parameters:
      - in: query
        name: gymId
        description: The id of the gym
        schema:
          type: number
          example: 234
        required: true
      responses:
        '204':
          description: No content
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: postAlive
      x-operation-id-source: derived
components:
  schemas:
    ErrorDto:
      type: object
      description: This model provides information about an API error.
      properties:
        error:
          type: integer
          format: int32
          description: The error code.
          example: 401
        errorText:
          type: string
          description: The error message.
          example: The provided user name or password is incorrect.
  securitySchemes:
    accesstoken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: The token that will allow access the EGYM gym api for a specific gym.
      x-example: 77266b05a7ba4ba2aa3360b86711002d
