openapi: 3.2.0
info:
  title: MMS API v1 Task API
  description: This API enables gym management software to connect to the EGYM system and transmit important pieces of information from the data sphere of the gym to the EGYM system.
  version: 1.0.0
  contact:
    name: EGYM - Connect Team
servers:
- url: https://mms.api.ed.ts.egym.coffee/v1
  description: Test
- url: https://mms.api.egym.com/v1
  description: Prod
security:
- accesstoken: []
tags:
- name: Task
paths:
  /task:
    get:
      summary: Tasks
      description: A list of not yet completed tasks.
      tags:
      - Task
      parameters:
      - in: query
        name: modified-since
        description: An optional modified since flag, in ISO-8601 date and time format. If not present, only uncompleted tasks will be returned.
        schema:
          type: string
          format: 'date in format "YYYY-MM-DD"

            '
          example: '2018-09-11'
      - in: query
        name: gymId
        description: The id of the gym
        schema:
          type: number
          example: 234
        required: true
      responses:
        '200':
          description: The new task ID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskDTO'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: getTask
      x-operation-id-source: derived
    post:
      summary: Create task
      description: Creates a new task.
      tags:
      - Task
      parameters:
      - in: query
        name: gymId
        description: The id of the gym
        schema:
          type: number
          example: 234
        required: true
      requestBody:
        description: The new task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskDTO'
      responses:
        '200':
          description: The new task ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskIdDTO'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: postTask
      x-operation-id-source: derived
  /task/{taskId}:
    put:
      summary: Update task
      description: Updates an existing task; Mark a task as "completed"
      tags:
      - Task
      parameters:
      - in: path
        name: taskId
        description: The id of the task
        schema:
          type: integer
          format: int64
          example: 123
        required: true
      - in: query
        name: gymId
        description: The id of the gym
        schema:
          type: number
          example: 234
        required: true
      requestBody:
        description: 'The task data


          To mark a task completed, only the { "completed": true } message is required to be sent

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskDTO'
      responses:
        '200':
          description: The updated task data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDTO'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: putTaskByTaskId
      x-operation-id-source: derived
    get:
      summary: Task details
      description: Retrieves a task
      tags:
      - Task
      parameters:
      - in: path
        name: taskId
        description: The id of the task
        schema:
          type: integer
          format: int64
          example: 123
        required: true
      - in: query
        name: gymId
        description: The id of the gym
        schema:
          type: number
          example: 234
        required: true
      responses:
        '200':
          description: The task data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDTO'
        4XX:
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
      operationId: getTaskByTaskId
      x-operation-id-source: derived
components:
  schemas:
    ErrorDto:
      type: object
      description: This model provides information about an API error.
      properties:
        error:
          type: integer
          format: int32
          description: The error code.
          example: 401
        errorText:
          type: string
          description: The error message.
          example: The provided user name or password is incorrect.
    TaskIdDTO:
      type: object
      description: This model provides the taskId.
      properties:
        taskId:
          type: integer
          format: int64
          description: The id of the task
          example: 123
    TaskDTO:
      type: object
      description: This model provides information about a task.
      properties:
        taskId:
          type: integer
          format: int64
          description: unique ID assigned by EGYM
          example: 123
        taskName:
          type: string
          description: 'The message displayed to the end user of the EGYM Trainer App.

            (The EGYM Trainer App will shorten the title to 140 characters.)

            '
          example: task1
        taskType:
          type: string
          description: 'The task type


            - GENERAL - Used for all general tasks.

            - ANAMNESIS - Used when an anamnesis should be carried out for a user.

            - COORDINATION_FITNESS_TEST - A coordination fitness test task.

            - HEALTH_FITNESS_TEST - A health fitness test task.

            - PWC_FITNESS_TEST - Physical Working Capacity (PWC) test task.

            - MAX_FORCE_FITNESS_TEST - A max force fitness test task.

            - MOBILITY_SCREEN_FITNESS_TEST - A mobility screen fitness test task.

            - BLOOD_PRESSURE_FITNESS_TEST - A blood pressure test task.

            - POLAR_FITNESS_TEST - A Polar (Vo2Max) fitness test task.

            '
          enum:
          - GENERAL
          - ANAMNESIS
          - COORDINATION_FITNESS_TEST
          - HEALTH_FITNESS_TEST
          - PWC_FITNESS_TEST
          - MAX_FORCE_FITNESS_TEST
          - MOBILITY_SCREEN_FITNESS_TEST
          - BLOOD_PRESSURE_FITNESS_TEST
          - POLAR_FITNESS_TEST
          example: GENERAL
        dueDate:
          type: string
          format: 'date in format "YYYY-MM-DD"

            '
          description: The date when the task has to be completed.
          example: '2018-01-01'
        completed:
          type: boolean
          description: Indicates whether or not the task was completed
          example: true
        author:
          type: object
          description: User (typically gym staff) who created the task
          properties:
            userId:
              type: integer
              format: int64
              description: The unobfuscated EGYM legacy id of the user that created the task.
              example: 123
            membershipId:
              type: string
              description: Membership id of the gym software
              example: membership_id
        target:
          type: object
          description: User (typically gym member) the task relates to
          properties:
            userId:
              type: integer
              format: int64
              description: The unobfuscated EGYM legacy id of the target user.
              example: 123
            membershipId:
              type: string
              description: Membership id of the gym software
              example: membership_id
        completer:
          type: object
          description: User who solved the task
          properties:
            userId:
              type: integer
              format: int64
              description: The unobfuscated EGYM legacy id of the trainer that completed the task.
              example: 123
            membershipId:
              type: string
              description: Membership id of the gym software
              example: membership_id
        timestamp:
          type: integer
          format: int64
          description: Indicates the server time in milliseconds since epoch
          example: 1479310474987
      example:
        title: Do something else
        dueDate: '2016-02-20'
        author:
          userId: '-7414498790635180469'
        target:
          userId: '70043473040802893'
        completer:
          userId: '39820804037434007'
        completed: false,
        taskType: ANAMNESIS
  securitySchemes:
    accesstoken:
      type: apiKey
      in: header
      name: X-ACCESS-TOKEN
      description: The token that will allow access the EGYM gym api for a specific gym.
      x-example: 77266b05a7ba4ba2aa3360b86711002d
